# Homework Assignment 7: Python Data Structures Lists

In [1]:
# The code block converts the string “ABC” into a list of individual characters. So, lists are the objectives of the class list that has the function list (), When given a string as arguments, return a list where each element is a character from the string.
# The string list “ABC” is contracting the characters.


list ("abc")

['a', 'b', 'c']

In [3]:
# The code block is a constructor and named list  “empty_list”. Then print the length of the empty list using the len() function.

empty_list = []
print(len(empty_list))

0

In [4]:
# A string named aStringOfWords is initialized with the value "This is a string of words".
# The split (' ') method is used on the aStringOfWords string to split it into a list of operations creates a list where each word from the string becomes an individual element in the list.


aStringOfWords= "This is a string of words"
aList=aStringOfWords.split(' ')
print(aList)

['This', 'is', 'a', 'string', 'of', 'words']

In [5]:
# A string named aDayString is initialized with the value "5/1/2017". The split ('/') method is used on the aDayString string to split it into a list of parts based on the forward slash (/) delimiter.
# Operation creates a list where each of the dates


aDayString="5/1/2017"
aList=aDayString.split('/')
print(aList)

['5', '1', '2017']

In [6]:
# The name “new_llist” is a list from the l_lists string from the second element.
# For each sub-list of extracts.
# A variable i is initialized to 0. This will serve as a counter.
# A for loop iterates over the elements (sub-lists) of new_llists. For each iteration: It prints the sub-list (element).
# The counter i is incremented by 1.
# If I become equal to 3, the loop is exited prematurely using the break statement.


l_lists=[[1,2,3],[2,3,4],[3,4,5]]
new_llists=[element[1:] for element in l_lists]
i=0
for element in new_llists:
    print(element)
    i=i+1
    if i==3:
        break

[2, 3]
[3, 4]
[4, 5]

In [8]:
#  The print function is used to display a specific character from the string "Happy". Specifically, it accesses the first element of n_list with n_list[0], which is the string "Happy".

# Then, it accesses the second character of this string with [1].

n_list=["Happy",[2,0,1,5]]
print(n_list[0][1])

a

In [9]:
# The tuple “aTuple” is converted into a list named “alist” using the list() function.

# The print function is used to display the length of the list “alist “by utilizing the len() function.

aTuple=('ready','fire','aim')
aList=list(aTuple)
print("Length of the list:",len(aList))

Length of the list: 3

In [10]:
# A tuple named “aTuple” is initialized with three strings: 'ready', 'fire', and 'aim'.
# The tuple “aTuple” is converted into a list named “alist” using the list () function.
# The third element (index 2) of the list alist is accessed and stored in the variable list_element3.


aTuple=('ready','fire','aim')
aList=list(aTuple)
list_element3=aList[2]
print(list_element3)

aim

In [12]:
# The first (index 0) and second (index 1) elements of the languages list, which are 'Python' and 'C' respectively, are accessed.
# A string is constructed by concatenating these two elements “and” or “are”


languages=["Python","C","C++","Java","Perl"]
print(languages[0]+" and "+languages[1]+" are quite different !")

Python and C are quite different !

In [13]:
# Using list slicing, the code accesses elements of the my_list starting from the beginning of the list up to, but not including the fifth last element. This slice includes the elements at indices 0 to 3.


my_list=['p','r','o','g','r','a','m','i','z']

print(my_list[:-5])

['p', 'r', 'o', 'g']

In [14]:
# The element at index 0 of the odd list (which is 2) is replaced with the number 1.
# Using list slicing, the code replaces the elements of the odd list starting from index 1 up to, but not including index 4 with the numbers: 3, 5, and 7. This essentially replaces the entire rest of the list after the first element.

odd= [2,4,6,8]
odd[0]=1
odd[1:4]=[3,5,7]
print(odd)

[1, 3, 5, 7]

In [15]:
# The number 7 is appended to the end of the odd list using the append method.
# The extend method is used to add multiple numbers (9, 11, 13) to the end of the odd list.
odd= [1,3,5]
odd.append(7)
odd.extend([9,11,13])
print(odd)

[1, 3, 5, 7, 9, 11, 13]

In [16]:
# A range of items starting from index 1 (inclusive) up to index 5 (exclusive) are deleted from the my_list using the del statement. This removes the characters 'r', 'b', 'l', and 'e' from the list.
# The modified my_list indicates that elements from index 1 until 4 have been removed.


my_list=['p','r','o','b','l','e','m']

# delete one item
del my_list[2]

# delete multiple items
del my_list[1:5]

print("Elements from index 1 until 4 have been removed: ",my_list)

Elements from index 1 until 4 have been removed:  ['p', 'm']

In [17]:
# The character 'p' is removed from the my_list using the remove () method.
# The item at index 1 ('r' after removing 'p') is removed from the my_list using the pop() method.
# The last item in the my_list ('m') is removed using the pop() method without any arguments.


my_list=['p','r','o','b','l','e','m']
my_list.remove('p')
my_list.pop(1)
my_list.pop()

print(my_list)

['r', 'b', 'l', 'e']

In [18]:
#  The variable list2 is assigned the value of list1. This means that list2 is now referencing the same memory location as list1.
# Intializing list 1
list1=[1,2,[3,5],4]

# using copy
list2 = list1

id(list1), id(list2)

(135983177686976, 135983177686976)

In [19]:
# The copy module provided a function. A list named “list1 is initialized with the elements: 1, 2, a sub-list [3, 5], and 4.]
# The deepcopy () function from the copy module is used to create a deep copy of list1 and assign it to list2.
# A deep copy means that a new object created in changes to list2 will not affect list1 and vice versa, even for nested elements.
# The id () function is used in list1 and list2.



# importing "copy" for copy operations
import copy

# initializing list 1
list1=[1,2,[3,5],4]

# using deepcopy to deepcopy
list2=copy.deepcopy(list1)

id(list1), id(list2)

(135983192410304, 135983192688384)

In [20]:
# del call is remove
list1=[1,2,[3,5],4]
del(list1)
print(list1)

NameError: ignored

In [21]:
# The print function is used to display the result of concatenating list1 and list2 using the + operator.

list1=[1,2,[3,5],4]
list2=["Hello","World"]
print(list1 + list2)

[1, 2, [3, 5], 4, 'Hello', 'World']

In [23]:
# The code uses the print() function to multiply a list by contracting a single string “re” by 3 and repeating the list contentment three times.

print(["re"]*3)

['re', 're', 're']

In [24]:
# The code uses a list1 with elements [1, 2, [3, 5], and a print() function.
# If sub-list 3 is an element with “list1” using the “in” operator,

list1=[1,2,[3,5],4]
print([3] in list1)

False

In [25]:
# For loop over each element in list1 using a function ()

list1=[1,2,[3,5],4]

for i in list1:
    print(i)

1
2
[3, 5]
4

In [26]:
# using the print() function. However, the end = " " arguments in the print function change the statement space.

list1=[1,2,[3,5],4]

for i in list1:
    print(i,end="")

12[3, 5]4

In [27]:
# uses a for loop to iterate over a list of fruits: 'apple’, banana', and 'mango'. During each iteration statement in the formatted print ("I like”, fruit),

for fruit in['apple','banana','mango']:
    print("I like",fruit)

I like apple
I like banana
I like mango

In [28]:
# vowels list
vowels=['e','a','u','o','i']

# sort the vowels
vowels.sort()

# Print vowels
print('sorted list:',vowels)

sorted list: ['a', 'e', 'i', 'o', 'u']

In [29]:
list1=['a','p','p','l','e']

print(list1.count('p'))

2

In [30]:
list1=['a','p','p','l','e']

print(list1.index('p'))

1

In [31]:
# Homework Assignment 7