# Homework Assignment 10: Python Data Structures Tuples

In [1]:
# Tuples in Python are zero-indexed, meaning the first element has an index of 0, and the second has an index of 1.
t= ("tuples","are","immutable")
t[0]

'tuples'

In [2]:
# Tuples in Python are zero-indexed, meaning the first element has an index of -1 and the third has an index of 3.
t=("tuples","are","immutable")

print(t[-1])

immutable

In [3]:
# The len () function is used to determine the length of the tuple, which is the number of elements 3.
t=("tuples","are","immutable")

print(len(t))

3

In [4]:
# tuple my_tuple containing three elements: an integer 1, a string "Hello", and a float 3.4.

my_tuple= (1,"Hello", 3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [6]:
# The print() function is used for the tuple n_tuple. There are 4 elements of the tuple. So, n_tuple [0} refers to the first element of n_tuple which is the string “mouse”. Its reference [3] refers to the 4

n_tuple=("mouse",[8,4,6],(1,2,3))

print(n_tuple[0][3])

s

In [7]:
# The code defines tuple ‘my_tuple’ with 6 characters. They used functional characters at index -6 of the tuple. So Negative indexing counts from the end of sequences. The index -6 refers characteristics of the tuple ‘my_tuple.’


my_tuple=('p','e','r','m','i','t')

print(my_tuple[-6])

p

In [8]:
#

my_tuple=('p','e','r','m','i','t')

print(my_tuple[6])

IndexError: ignored

In [9]:
# Using the slicing index, the code extracts and prints the characters from index 1 to index 4 of the my_tuple. Which are the characters indicated as 1, 2, or 3 in the tuple

my_tuple =('p','r','o','g','r','a','m','i','z')

print(my_tuple[1:4])

('r', 'o', 'g')

In [10]:
#
my_tuple =('p','r','o','g','r','a','m','i','z')

print(my_tuple[:])

('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [11]:
#

aTuple =('Python','C','C++','Java','Scala')
aTuple[2]='Ruby'

TypeError: ignored

In [12]:
tuple1=(4,2,3,[6,5])

print("tuple1: ", tuple1)

tuple1:  (4, 2, 3, [6, 5])

In [14]:
my_tuple =('p','r','o','g','r','a','m','i','z')

tuple1=my_tuple

print("tuple1 after being reassigned: ", tuple1)

tuple1 after being reassigned:  ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [16]:
aTuple="Python is the best scripting language"

del(aTuple)
print(aTuple)

NameError: ignored

In [17]:
tuple1="Hello",
replicatedTuple=tuple1*3
print(replicatedTuple)

('Hello', 'Hello', 'Hello')

In [18]:
aTuple=(2,4,6,"This","is","a","tuple")
print(2 in aTuple)
print('a' in aTuple)
print("This is" in aTuple)

True
True
False

In [19]:
tuple1="Hello World!"
tuple2="hello world!"
print(tuple1==tuple2)

False

In [20]:
tuple1=("This","is",1,"book")

for i in tuple1:
    print(i,end="\n")

This
is
1
book

In [21]:
my_tuple=('a','p','p','l','e',)

print(my_tuple.count('p'))

2

In [22]:
# HW Assignment 10